body {
    background-color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
    margin: 0;
    user-select: none;
}

.backGrey {
    background: linear-gradient(to bottom right, #f2f2f2, #e0e8ea);
}

.backPink {
    background: linear-gradient(to bottom left, #fcecfc, #fdf7fd);
}