@import url("shadows/common.css");

:host {
    display: block;
}

.root {
    display: flex;
    justify-content: center;
}

.root h1 {
    color: #0280cd;
    font-size: 3em;
    margin: 0;
    padding: 16px 0;
    text-align: center;
    max-width: 650px;
}

@media only screen and (max-width: 768px) {
    .root h1 {
        font-size: 2.25em;
    }
}